- var sections = {"Home": "", "Install": "install", "Subthemes": "subthemes", "Sass": "sass", "Features": "features", "Modules": "modules", "Roadmap": "roadmap"}

mixin nav(items, navClass)
  - items = items || sections
  - navClass = navClass || "main-nav"

  nav(class=navClass)
    each link, title in items
      a(href="#{assetPath}/#{link}", title=title) #{title}